/*.****************** CUSTOM PROPERTIES ***************************/
:root{
    --first-color: #D9D9D9;
    --second-color: #FFFFFF;
    --third-color: #78ABF1 ;
    --black-color: #0000 ;
    --grey-color: #C0C0C0 ;
    --grey-dark-color: #363D41 ;
    --white-color: #FFFFFF ;
    --purple-alpha-color: #2A202B7F;
    --transparent-color: transparent ;
    --first-font: "Roboto", sans-serif ;
    --second-font:"Montserrat", sans-serif ;
    --max-width: 1200px;
    --header-height:4rem;
}
/*.********************* RESET *************************************/
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
font-size: 16px;
font-family: var(--first-font);
}
body{
overflow-x: hidden;
color: var(--grey-dark-color);
background-image: url(/images/lightblueclouds.gif);
background-size: cover; 
background-repeat: no-repeat; 
background-attachment: fixed; 
background-position: 45% 0%; 
height: 100vh;
width: 100%;
background-color: var(--third-color);
}

a{
text-decoration: none;
transition: all 0.3s ease-out;
color: var(--third-color) 
}
a:hover {
opacity: 0.75;
}
h1{
margin: 0;
font-size: 2rem;
}
h2{
margin: 0;
font-size: 1.5rem;
}
h3{
margin: 0;
font-size: 1.25rem;
}
h4{
margin: 0;
font-size: 1rem;
}
h5{
margin: 0;
font-size: .85rem;
}
h6{
margin: 0;
font-size: .7rem;
}
img{
    max-width: 100%;
    height: auto;
}
p{
    line-height: 1.6rem;
    color: var(--second-color);
}

/*.********************* COMPONENTS *************************************/

/*.******** menu **********/

.menu-btn{
    background-color: var(--transparent-color);
    border: 0;
}
.menu-btn svg{
    fill: var(--third-color);
}
.menu{
    position: fixed;
    left:0;
    top: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
}

/*.********************* UTILITIES *************************************/
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
}
.none{
    display: none;
}


/*.********************* SITE STYLES *************************************/
.header{
    position: fixed;
    z-index: 99995;
    padding: 1rem;
    width: 100%;
    height: var(--header-height);
    background-color: var(--white-color);
}

.header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a {
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}